[heater_bed]
heater_pin: BED_HEATER
sensor_type: Generic 3950
sensor_pin: BED_TEMPERATURE
##  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
max_power: 0.8
min_temp: 0
max_temp: 120
control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769