#Simple way to include all the various klicky macros and configurations
# the current home for this configuration is https://github.com/jlas1/Klicky-Probe, please check it

[include ./klicky-macros.cfg]                   #Required
[include ./klicky-bed-mesh-calibrate.cfg]       #bed mesh, requires klipper configuration
[include ./klicky-quad-gantry-level.cfg]        #level 4 Z motors
