## Caselight Management for Warm/cold white led strip
#
[delayed_gcode _INIT_CASELIGHT_DELAYED]
initial_duration: 0.5
gcode:
      {% set cl_on = printer.save_variables.variables.caselight_on %}
      {% if cl_on %} CASELIGHT_ON {% endif %}

[gcode_macro CASELIGHT_ON]
description: Helper: Light on
gcode:
      {% set cl_w = printer.save_variables.variables.caselight_warm|default(0.5) %}
      {% set cl_c = printer.save_variables.variables.caselight_cold|default(0.5) %}
      SET_PIN PIN=caselight_warm VALUE={cl_w}
      SET_PIN PIN=caselight_cold VALUE={cl_c}
      UPDATE_VARIABLE VARIABLE=caselight_on VALUE=1
      _RESPOND VERBOSE=True MSG="Caselight on"

[gcode_macro CASELIGHT_OFF]
description: Helper: Light off
gcode:
      SET_PIN_UNSAVED PIN=caselight_warm VALUE=0.0
      SET_PIN_UNSAVED PIN=caselight_cold VALUE=0.0
      {% if params.SAVE | default(True) %}
        UPDATE_VARIABLE VARIABLE=caselight_on VALUE=0
      {% endif %}
      _RESPOND VERBOSE=True MSG="Caselight off"

