[gcode_macro POOP_PURGE]
# The posiion below are for a Voron 2.4 300 mm, purge bucket rear left
# adapt position to your config
variable_poop_position: 0,294,1 
variable_start_position: 35,304,1
variable_eject_position: 15,304,1
variable_eject_speed: 300
variable_purge_length: 60
variable_cooling_time: 8
gcode:
    {% set _printer = printer.configfile.settings.printer %}
    {% set poop_x, poop_y, poop_z = poop_position|map('float') %}
    {% set start_x, start_y, start_z = start_position|map('float') %}
    {% set eject_x, eject_y, eject_z = eject_position|map('float') %}
    
    {% set purge_length= [purge_length, params.PURGE_LENGTH|float|default(purge_length)]|max %}
    
    {% set max_distance = printer.configfile.settings.extruder.max_extrude_only_distance %}
    {% set cycle = (purge_length / max_distance) | int %}
    {% set last_purge_length = purge_length % max_distance %}


    SAVE_GCODE_STATE NAME=poop_saved
    
    G92 E0 
    M83     ; relative extrusion                 
    G90     ; absolute positioning 
    M106 S0   
    G0 Z20 F{_printer.max_z_velocity*60}                  ; move nozzle away from bed
    {% if printer.toolhead.position.z < (poop_z + 0.8)%}  ; zhop
        G0 Z{poop_z+0.8} F{_printer.max_z_velocity*60}
    {% endif %}
    G0 X{poop_x} Y{poop_y} F{_printer.max_velocity*60}    ; Move to start position
    G0 Z{poop_z + 0.8} F{_printer.max_z_velocity*60}      ; 
    G0 Z{poop_z} F{_printer.max_z_velocity*6}
    
    G1 E{purge_length*0.1} F500
    # do poop 
    {% for step in range(cycle) %}
        G1 E{max_distance} Z{poop_z + (step+1) * max_distance /12} F30
    {% endfor %}
    {% if last_purge_length %}
        G1 E{last_purge_length} Z{poop_z + purge_length/12} F30
    {% endif %}
    G0 Z{purge_length/6} F{_printer.max_z_velocity*60}
    M106 S255
    G4 P{cooling_time*1000}     ; cool poop
    M106 S0
    G0 X{start_x} Y{start_y} F{_printer.max_velocity*60}
    G0 Z{start_z} F{_printer.max_z_velocity*60}
    G0 X{eject_x} Y{eject_y} Z{eject_z} F{eject_speed|default(_printer.max_velocity)*60}  ; ejet poop
    G0 Z20 F{_printer.max_z_velocity*60}

    RESTORE_GCODE_STATE NAME=poop_saved MOVE={params.MOVE|default(0)} MOVE_SPEED={_printer.max_velocity}