[gcode_macro PAUSE]
description: Helper:Pause the actual running print
rename_existing: PAUSE_BASE
gcode:
    PAUSE_BASE
    {% if printer.extruder.can_extrude %}
    G10  ;retract
    {% endif %}
    PARK

[gcode_macro RESUME]
description: Helper:Resume the actual running print
rename_existing: RESUME_BASE
gcode:
    #### get VELOCITY parameter if specified ####
    {% set _vars=printer['gcode_macro _User_Variables'] %}
    {% set _fil=printer['gcode_macro _FILAMENT']%}

    {% if printer.pause_resume.is_paused %}
      {% if 'VELOCITY' in params|upper %}
        {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
      {%else %}
        {% set get_params = "VELOCITY=%s" % _vars.travel_speed  %}
      {% endif %}
      
      # Resume after CHANGE_FILAMENT
      {% if _fil.m600_state %}
        SET_GCODE_VARIABLE MACRO=_FILAMENT VARIABLE=m600_state VALUE=False
        
        M109 S{_fil.filament.extruder_temp}      ; Wait extruder temperature 
        {% set z_safe= printer.gcode_move.position.z}
        PARK     ;Reach park height prior to XY moves
        NOZZLE_WIPE PURGE=False
        G0 Z{z_safe} F{_vars.z_drop_speed * 60}  
      {% endif %}

      ##### end of definitions #####
      {% if printer.extruder.can_extrude %}
      G11
      RESUME_BASE {get_params}
      {% else %}
        _RESPOND MSG="RESUME failed : Extruder not hot enough"
      {% endif %}
    {% else %}
      _RESPOND MSG="Printer is not paused"
    {% endif %}
