[gcode_macro CANCEL_PRINT]                                                                                                                                                                           [gcode_macro CANCEL_PRINT]
description: Helper:Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
variable_park: True
gcode:
    ## Move head and retract only if not already in the pause state and park set to true
    {% if printer.pause_resume.is_paused|lower == 'false' and park|lower == 'true'%}
      _TOOLHEAD_PARK_PAUSE_CANCEL
    {% endif %}
      _RESPOND STATE=off VERBOSE=True MSG="Print Canceled !"
      
      HEATSOAK_CANCEL

      TURN_OFF_HEATERS
      UPDATE_DELAYED_GCODE ID=_PRINT_END_DELAYED DURATION=900
      UPDATE_DELAYED_GCODE ID=_STOP_FILTER_DELAYED DURATION=300
      CANCEL_PRINT_BASE
