## Example config file for buffered extruder
# author : fboc (2024)
# version : 0.4
# Changelog : remove macros

[extruder_stepper mobius]
step_pin: MOTOR7_STEP
dir_pin: MOTOR7_DIR
enable_pin: !MOTOR7_ENABLE
microsteps: 32
gear_ratio: 80:20
rotation_distance: 23.1085
full_steps_per_rotation: 200
extruder: extruder
#   See the "stepper" section for the definition of the above
#   parameters.

[tmc2209 extruder_stepper mobius]
uart_pin: MOTOR7_UART
interpolate: false
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0

# Belay module is a part of Danger Klipper
[belay mobius]
extruder_type: extruder_stepper
extruder_stepper_name: mobius
multiplier_high: 1.05
#   High multiplier to set for the secondary extruder when extruding
#   forward and Belay is compressed or when extruding backward and
#   Belay is expanded. The default is 1.05.
multiplier_low: 0.95
#   Low multiplier to set for the secondary extruder when extruding
#   forward and Belay is expanded or when extruding backward and
#   Belay is compressed. The default is 0.95.
sensor_pin: DIAG5

